

<div class="number_of_contacts">
  <p>There are <strong><span class="number"><%= @contacts.count %></span></strong> contacts.</p>
</div>

<% @contacts.each do |contact| %>
<div class="contact">
  <h3><%=contact.full_name%> (<%=contact.email%>)</h3>
  <p><a href="#">Edit</a> | <a href="#">Delete</a></p>
</div>
<% end %>
