

<h1><%= @contact.full_name %></h1>

<div class="contact_info">
  <p><%= @contact.email %></p>
  <p><%= @contact.note %></p>
  <p><a href="/contacts/<%= @contact.id %>/edit">Edit contact</a></p>
</div>
